<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script type="text/javascript">
    if(localStorage.getItem('token') === null) {
      location.href = '/'
    }
  </script>
  <title>articles - Simple Article</title>
</head>
<body>
<div id="article-detail">
  <h1 id="title">{{ user }}'s Article {{ article.id }}</h1>
  <div>
    <div>
      <input type="text" name="title" v-model="article.title"
             placeholder="title">
    </div>
    <div>
      <input type="text" name="content" v-model="article.content"
             placeholder="content">
    </div>
    <button type="button" name="update" @click="updateArticle(article.id)">Update</button>
    <button type="button" name="delete" @click="deleteArticle(article.id)">Delete</button>
  </div>

  <button type="button" name="logout" @click="logout()">logout</button>
</div>
<script src="/assets/js/article_detail.js"></script>
</body>
</html>
